extends ./layout/index

block slider 
    .slider
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis officiis odit repellat natus sit nisi modi libero ad unde, aliquam voluptate optio at quibusdam atque debitis, beatae non sequi sint.
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem ullam qui repellendus magnam perferendis asperiores cum, deserunt culpa nostrum sapiente blanditiis adipisci deleniti quod consequuntur itaque necessitatibus error quis dicta?
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen de nosotros", class="img-fluid")                            
