extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros",class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, possimus aut? Labore accusantium vero dolores magnam rerum mollitia voluptatem, reprehenderit aperiam! Ipsum voluptatum ex, consequatur suscipit aliquid eum. Beatae, voluptate!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure corrupti quisquam, alias aliquid omnis veritatis commodi culpa nemo dicta doloribus dolore illo architecto numquam animi in, sequi reiciendis quasi pariatur?
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, repellat culpa? Eligendi vel, harum officia sed voluptas hic voluptatem sequi alias, dolor, maxime sint neque. Delectus unde sequi cumque voluptas.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, repellat culpa? Eligendi dolor sit amet consectetur adipisicing
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos",class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, repellat culpa? Eligendi dolor sit amet consectetur adipisicing
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios",class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, repellat culpa? Eligendi dolor sit amet consectetur adipisicing
